mssql/backup/*
mssql/log/*
mssql/data/*
.env
localstack/data/
wordpress/data/data/
nginx-reverse-proxy/logs/reverseproxy/*
unifi/db/*
unifi/data/*
unifi/log/*
unifi/cert/*
unifi/init/*
mssql2017/backup/*
mssql2017/data/*
mssql2017/log/*


